mixin questionAnswer(q)
    div
        ul
            li 
                span #{q.q1}
                button(value=1) yes 
                button(value=2) no
            li 
                span #{q.q2}
                button(value=1) yes 
                button(value=2) no
            li 
                span #{q.q3}
                button(value=1) yes 
                button(value=2) no
            li 
                span #{q.q4}
                button(value=1) yes 
                button(value=2) no
            li 
                span #{q.q5}
                button(value=1) yes 
                button(value=2) no