mixin questionAnswer(q)
    li 
        span(id=`{$}`) #{q}
        lable yes
        input(name=`${q}`, id="#{q}", type="radio",value=1)
        lable no
        input(name=`${q}`,id="#{q}",type="radio",value=0)