mixin surveyList(survey)
    div.container 
        a(href=`/survey/${survey.id}/check`)
            div.title=survey.title
            div.photo
                img(src="#")
            div.details
                div.btn1
                    div=survey.description
                    div 테스트 시작!
                div.count #{survey.meta.people} tested
            
            if(socialOnly)
                div
                    button                       
                            a(href=`/survey/${survey.id}/delete`) Delete Survey &rarr;
