mixin surveyList(survey)
    div 
        h4 
            a(href=`/survey/${survey.id}/check`)=survey.title

        div
            p=survey.description 
            ul
                li #{survey.meta.people} tested
            small=survey.createdAt
            if socialOnly
                div
                    button                       
                            a(href=`/survey/${survey.id}/delete`) Delete Survey &rarr;
                    
        hr
