extends base.pug
include mixins/questions

block content 
    h2 Questions
    form(method="POST")
        ul
            each q, key in surveyQobj 
                li= `${Number(key)+1}번 질문 ${q}`
                lable yes
                input(name=`${key}`, id=`${key}`, type="radio",value=1, required)
                lable no
                input(name=`${key}`,id=`${key}`,type="radio",value=0)

        button(type="submit") submit &rarr;
            
    